# Ignore Python virtual environments
venv/
.env/
.rasa


# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
*.log
*.tmp
.DS_Store

# Ignore Rasa cache
rasa/.rasa/cache/*

# Ignore model training artifacts


